* {
      box-sizing: border-box;
    }
    
    .box1 {
      float: left;
      width: 20%;
      padding: 30px;
      margin-top: 40px;
      margin-left: 150px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      height:750px;
    }
    
    .box2 {
      float: left;
      width: 60%;
      padding: 30px;
      right: 0px;
      padding-right: 0px;
      margin-top: 40px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      height:750px;
      
    }
   
    
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
     
    }
  
    .navimg{
        width:40px;height:40px;
    }
  
    .card{
        width:100px;
        border-radius:10px;
       
    }
    .col-sm-1
    {
      margin-right: 40px;
    
    }
    div.gallery {
      padding: 10px;
      margin:5px;
      padding-top: 2px;
      border: 1px solid #ccc;
      float: left;
      width: 240px;
      height:183px;
      background-color: #fff;
      border-radius:10px;
      
    }
    
   
    
    div.gallery img {
      width: 60%;
      height: 80px;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    .gallery1 {
      
        text-align: left;
  
    }
    .imgs{
          
        width:10px;
        height:10px;
    }
    .New{
     width:100%;
     height:170px;
     border-radius: 15px;
    }
    span{
        color:gray;
    }
    .base{
        font-size:12px;
    }